
* {
    box-sizing: border-box;
    font-family: helvetica;
    margin: 0;
    padding: 0;
}


h1 {
    margin: 40px;
    text-align: center;
}

section {
    border: 2px solid black;
    margin: 20px;
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    text-align: justify;
}

.title {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    width: 35%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#first {
    background-color: gray;
}

#second {
    background-color: darkgoldenrod;
}

#third {
    background-color: green;
}

#pink {
    background-color: #D59898;
}

#red {
    background-color: #C14543;
    color: white;
}

#yellow {
    background-color: #E5D198;
}

/*Desktop*/

@media (min-width:992px) {
    #container {
        display: flex;
    }
}

/*Tablet*/

@media (min-width:768px) and (max-width:991px) {
    #first,
    #second {
        width: 45%;
        float: left;
    }
    #third {
        width: 93.2%;
        clear: left;
    }
}

@media (max-width:767) {
    section {
        width: 100%;
    }
}